<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CollectionAssignment/src/com/psl/citystate/CityStateMap.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.psl.citystate.CityStateMap"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CollectionAssignment"/>
</launchConfiguration>
